{% extends 'temizliksite/base.html' %}
{% load static %}
{% block content %}


    <!-- İletişim Bilgileri ve Harita -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-section">
                    <h2>Karçiçeği Temizlik : İletişim Bilgilerimiz</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i><strong> Adres:</strong> Esenyurt, Erman Sk. No:22 D:2, 38050 Melikgazi/Kayseri</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i><strong> Telefon:</strong> +90 540 029 3838</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><strong> E-posta:</strong> <a href="mailto:karcicegitemizlik38@gmail.com">karcicegitemizlik38@gmail.com</a></p>
                        <p><i class="fa fa-clock" aria-hidden="true"></i><strong> Çalışma Saatleri:</strong> Hergün: 08:00 - 22:00</p>
                    </div>
                    <div class="map-container">
                        <!-- Google Haritalar Embed -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.783654430231!2d35.48732337539564!3d38.699813558339194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152b0def4de15b2f%3A0x773c9158ddb8b06c!2sEsenyurt%2C%20Erman%20Sk.%20No%3A22%2C%2038050%20Melikgazi%2FKayseri!5e0!3m2!1str!2str!4v1741683026221!5m2!1str!2str" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- Sosyal Medya Linkleri -->
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=61574538445707" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/karcicegi_temizlik38" target="_blank"><i class="fab fa-instagram"></i></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
